* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --main-color: #19c8fa;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: black;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
header {
}
header .container {
  display: flex;
  justify-content: space-between;  
  align-items: center;
  flex-direction: row;
  position: relative;
}
header .container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 15px;
  width: calc(100% - 30px);
  height: 1px;
  background-color: #a2a2a2;
}
header .logo img {
  height: 100px;
}
header nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header nav ul {
  display: flex;
}
header nav ul li a {  
  display: block;
  color: white;
  text-decoration: none;
  transition: 0.3s;
  padding: 41px 10px;
  position: relative;
  z-index: 3;
}
header nav ul li .active,
header nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
header .form {
  position: relative;
  margin-left: 20px;
  width: 40px;
  height: 30px;
  border-left: solid 1px white;
}
header .form i {
  color: white;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}